@import url("/CSS/colors.css");

*
{
	box-sizing: content-box;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

html
{
	background-color: var(--bg);
	font-size: 1vw;
}


body
{
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	margin: 0;
	color: var(--text);
}

.bg
{
	z-index: -1;
	position: absolute;
	width: 100vw;
	height: 100vh;
	box-shadow: inset 0vh 0vw 0px 5vh var(--bg), inset 0px 0px 0px 10vh var(--bg-inverted);
	background-color: var(--white);
}

.homescreen
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
	position: absolute;
	top: 10vh;
	bottom: 10vh;
	left: 10vh;
	right: 10vh;
	overflow: hidden;
}


.name
{
	background: linear-gradient(90deg, var(--name-shadow) 10%, var(--name) 20%, var(--name) 80%, var(--name-shadow) 90%);
	line-height: 0.8;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 45rem;
	white-space: nowrap;
}

.name.listen-blur-blurred
{
	filter: blur(5px);
}



.shelf
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* Align children to bottom of shelf */
	margin-left: 10vw;
	margin-right: 4vw;
	height: 10vh;
	padding-left: 0vw;
}

.timedisp
{
	position: absolute;
	justify-self: flex-end;
	margin-right: 0.5vw;
	margin-left: auto;
}

.menu-tab
{
	box-sizing: border-box;
	width: fit-content;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

	transition: 0.1s;
	border: solid 0.05vh transparent;
	color: var(--text);
}

.menu-tab.special
{
	font-size: 4em;
	line-height: 0.75;
	padding-top: 0.1em;
}

.menu-tab:hover
{
	border: solid 0.05vh;
	transition: 0.1s;
	color: var(--text-hover);
	cursor: pointer;
	user-select: none;
}

.highlight
{
	color: var(--text);
	transition: 0.2s;
}

.dimmer
{
	color: var(--text-innactive);
	transition: 0.2s;
}

.menu-tab:active
{
	border: dotted 0.05vh;
	transform: translate(0px, 2px);
	transition: 0s;
	color: var(--text-clicked);
	user-select: none;
}


.menu-tab.selected
{
	border-bottom: solid 0.5vh var(--border);
}

main
{
	display: block;
	height: fit-content;
}

.index-section
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 80vh;
}

.red-color
{

	/*mix-blend-mode: difference;*/
	color: var(--text-important);
	/*-webkit-text-stroke: 1px rgb(0, 60, 255);*/
	/* outline */
}

.index-container
{
	justify-items: center;
	align-items: center;

	border: solid 0.05vh transparent;
	padding: 1.3vh;
	font-size: 5rem;
	transition: var(--berzier1) 0.5s;
	overflow: hidden;

	backdrop-filter: blur(0px);
	transform: translate(0, -5vh);
	height: 2vh;
}

.index-container:hover
{

	padding: 1vh;
	transition: var(--berzier1) 0.5s;
	font-size: 5rem;
	border: solid 0.05vh var(--border);
	backdrop-filter: blur(20px);
	height: 50vh;
}

.index-list
{
	flex-direction: column;
	justify-content: center;
}

.index-list-item
{

	justify-self: center;
	font-size: 2rem;

	mix-blend-mode: difference;
}

.spacer
{
	height: 10vh;
}

.page
{
	height: 100vh;
	margin: 0px 10px;
	border: solid 0.05vh var(--border);
}