:root
{
	--white: #e4e4e4;
	--black: #111111;
	--beige: #e7e4e0;
	--neon: #fafd05;
	--lightgreen: #b8f160;
}


html
{
	scroll-behavior: smooth;
}

body
{
	margin: 0;
	font-family: sans-serif;
	background: var(--black);
	color: white;
}

section
{
	min-height: 100vh;
	padding: 4rem;
	box-sizing: border-box;
}

.hero
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.projects
{
	background: var(--black);
}

.projects ul
{
	list-style: disc;
	padding-left: 2rem;
}

.projects a
{
	color: white;
	text-decoration: none;
}

.footer
{
	min-height: 50vh;
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	background: var(--neon);
}