:root
{
	--white: #e4e4e4;
	--white-dark: #141414;
	--gray: #515151;
	--black: #111111;
	--beige: #e7e4e0;
	--neon: #fafd05;
	--lightgreen: #b8f160;

	--sea-shell: #758A93;
	--sea-dark: #34656D;

	--darkgray: #232323;
	--gold: #dda200;

	--teal: #8bffff;



	/* Ocean Sunset */
	--midnight: #001427;
	--sea: #708d81;
	--sand: #f4d58d;
	--sunset: #bf0603;
	--sun: #8d0801;

	/* Rainbow */
	--rainbow-1: #360000;
	--rainbow-2: #2e1700;
	--rainbow-3: #3c3c00;
	--rainbow-4: #1e3c00;
	--rainbow-5: #002626;
	--rainbow-6: #001831;
	--rainbow-7: #17002e;

	--bg: var(--beige);
	--bg-light: var(--beige);
	--bg-op: var(--black);

	--txt-special: var(--black);

	--txt: var(--black);
	--txt-middle: var(--black);
	--txt-end: var(--black);

	--radial-inner: var(--beige);
	--radial-middle: var(--beige);
	--radial-outer: var(--white);

}

/* Core structure groupings */
[data-theme="ocean"]
{
	--theme-primary: #38bdf8;
	--theme-secondary: #0284c7;
	--theme-bg-accent: #1e1b4b;
	--theme-border: #334155;
}

[data-theme="sunset"]
{
	--theme-primary: #f97316;
	--theme-secondary: #ea580c;
	--theme-bg-accent: #2d0b0b;
	--theme-border: #f97316;
}


html
{
	scroll-behavior: smooth;
	background-color: var(--bg);
	font-family: var(--font-melo);
}

body
{
	margin: 0;
	font-family: var(--font-melo);
	background: var(--bg);
	color: var(--txt);
}

section
{
	min-height: 100vh;
	padding: 4rem;
	box-sizing: border-box;
}