<footer class="footer">
	<h1 class="raj">Raj Jeyaram</h1>
	<!--h1 class="jeyaram">.</h1-->
	<!--a href="https://portfolio.ravijey.com">RajvigneshJeyaram</a-->
	<!--a href="https://twitter.com/yourname">Twitter</a-->
	<!--a href="https://your-other-domain.com">Other Site</a-->
  </footer>

<style>	
	.footer
	{
		border-top: 10px solid var(--midnight);
		height: 30vh;
		background: var(--sunset);
		margin: 0em;
	}
	.footer h1
	{	
		white-space: nowrap;     /* Prevents text from wrapping to the next line */
  		overflow: hidden;        /* Hides any text that goes beyond the container */
  		text-overflow: clip;      /* Simply cuts the text off at the edge */


		background: linear-gradient(to bottom, var(--txt) 0%, var(--sunset) 70%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		font-family: var(--font-anton);
		font-size: 23em;
		font-style: italic;
		margin: 0;

		translate: -0em -1em;
	}

</style>