<section class="hero">
	<div>
	  <h1 class="raj">Raj</h1>
	  <h1 class="jeyaram">Jeyaram</h1>
	  <p>Vigilance. Courage. Wings.</p>
	</div>
  </section>

<style>
	.hero
	{
		font-family: var(--font-anton);
		background: var(--white);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 100vh;
	}

	.hero h1
	{
		font-size: 20rem;
		margin-bottom: 0;

		background: linear-gradient(160deg, var(--midnight) 10%, var(--sun) 50%, var(--midnight) 90%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.raj{
		margin-top: 0;
	}

	.jeyaram{
		margin-top: -175px;
	}

	.hero p
	{
		background: linear-gradient(160deg, var(--midnight) 10%, var(--sunset) 20%, var(--midnight) 100%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		font-size: 1.5rem;
		color: var(--sunset);
	}
</style>

