---

const projects = ["Headphone", "Laptop", "Monitor", "Mouse", "Keyboard", "astro"];

import Headphone from '/public/Headphone.jpeg';
---


<section class="projects">
	<h2>Projects</h2>


	<div class="projects-list">
		{projects.map(project =>
		(
			<div class="project">
				<a href={`/projects/${project}`}> {project} </a>
				<div class="project-description">
					<img src={`/public/${project}.jpeg`} />
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
				</div>
			</div>
		))}
	</div>
</section>

<style>
	.projects
	{
		background: var(--black);

		height: max-content;
		width: 100vw;
	}

	.projects .projects-list
	{
		display: grid;
		grid-template-columns: repeat(2, minmax(max-content, 1fr));
	}

	.projects .projects-list .project
	{
		height: max-content;

		display: contents;
		
		text-align: center;
	}

	.projects .projects-list .project a
	{
		color: var(--white);

		text-decoration: none;
		text-align: left;
	}

	.projects .projects-list .project .project-description
	{
		opacity: 0;
  		transform: translateX(50px);

  		transition: opacity 0.4s ease, transform 0.4s ease;
	}

	.projects .projects-list .project:hover .project-description
	{
		opacity: 1;
  		transform: translateX(0);
	}
</style>