---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<html lang="en">
<Font cssVariable="--font-melo" preload />
<Font cssVariable="--font-anton" preload />
<Font cssVariable="--font-bebas" preload />
<Font cssVariable="--font-fanwood" preload />
<Font cssVariable="--font-spartan" preload />
<Font cssVariable="--font-newtitle" preload />
<Font cssVariable="--font-satoshi" preload />
  <body>
    <slot />
  </body>
</html>